/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 61, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 200%; }

/* line 64, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 32px;
  line-height: 1.5em; }

	/* =Type
================================================== */
/* line 24, ../scss/screen.scss */
body {
  font-family: "ff-meta-serif-web-pro", georgia, serif;
  color: #333333; }

/* line 28, ../scss/screen.scss */
::selection {
  color: #fff;
  background: #c0203a; }

/* line 32, ../scss/screen.scss */
p {
  font-size: 16px;
  margin: .83em 0; }

/* line 37, ../scss/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "futura-pt", helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  border-bottom: 1px solid #333333; }

/* line 43, ../scss/screen.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* line 44, ../scss/screen.scss */
h2 {
  font-size: 1.5em;
  margin: 0.75em 0; }

/* line 45, ../scss/screen.scss */
h3 {
  font-size: 1.17em;
  margin: 0.83em 0; }

/* line 46, ../scss/screen.scss */
h5 {
  font-size: .83em;
  margin: 1.5em 0; }

/* line 47, ../scss/screen.scss */
h6 {
  font-size: .75em;
  margin: 1.67em 0; }

/* line 48, ../scss/screen.scss */
em {
  font-style: italic; }

/* line 51, ../scss/screen.scss */
a {
  color: #333333;
  text-decoration: none;
  -webkit-transition: all, 500ms;
  -moz-transition: all, 500ms;
  -o-transition: all, 500ms;
  transition: all, 500ms;
  border-bottom: 1px solid #eee; }
  /* line 18, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:visited {
    color: #333333; }
  /* line 21, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:focus {
    color: #c0203a; }
  /* line 24, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:hover {
    color: black; }
  /* line 27, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
  a:active {
    color: #c0203a; }
  /* line 56, ../scss/screen.scss */
  a:hover {
    border-bottom: 1px solid #000; }

/* line 60, ../scss/screen.scss */
small {
  font-size: 80%; }

/* line 63, ../scss/screen.scss */
hr {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #cccccc;
  margin: 1.5em 0 .83em 0; }

/* line 70, ../scss/screen.scss */
.hr-alpha, .hr-omega {
  margin: .3em 0 2.2em 0; }

/* line 74, ../scss/screen.scss */
.muted {
  color: #cccccc; }

/* line 77, ../scss/screen.scss */
.sub {
  border: none;
  margin: 0.83em 0; }

/* line 81, ../scss/screen.scss */
.highlight {
  color: #c0203a; }

/* line 84, ../scss/screen.scss */
.ly-plus {
  color: #c0203a;
  text-align: center;
  border: none;
  margin-top: -0.5em; }

/* line 90, ../scss/screen.scss */
.page-header {
  border-bottom: 2px solid #333333; }

/* line 93, ../scss/screen.scss */
.to-top {
  text-align: right;
  float: right;
  font-size: small;
  font-family: "ff-meta-serif-web-pro", georgia, serif;
  color: #cccccc; }
  /* line 99, ../scss/screen.scss */
  .to-top a {
    color: #cccccc;
    border: none;
    padding: 8px;
    border-radius: 2px; }
    /* line 104, ../scss/screen.scss */
    .to-top a:hover {
      color: #fff;
      background: #cccccc; }

/* =Elements
================================================== */
/* line 113, ../scss/screen.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 119, ../scss/screen.scss */
li:hover a {
  padding-left: 16px; }
/* line 123, ../scss/screen.scss */
li a {
  border: none;
  display: block; }
  /* line 126, ../scss/screen.scss */
  li a:hover {
    border: none; }

/* line 131, ../scss/screen.scss */
nav {
  width: 100%;
  font-family: "futura-pt", helvetica, sans-serif;
  font-weight: 700; }
  /* line 135, ../scss/screen.scss */
  nav li {
    -webkit-transition: all, 500ms;
    -moz-transition: all, 500ms;
    -o-transition: all, 500ms;
    transition: all, 500ms;
    border-bottom: 2px solid #c0203a; }
    /* line 138, ../scss/screen.scss */
    nav li:hover {
      border-bottom: 2px solid #333333; }
      /* line 140, ../scss/screen.scss */
      nav li:hover a {
        color: #c0203a; }

/* line 146, ../scss/screen.scss */
.social {
  font-family: "SSSocialRegular"; }
  /* line 148, ../scss/screen.scss */
  .social li {
    display: inline-block;
    margin: .83em 0; }
    /* line 152, ../scss/screen.scss */
    .social li:hover a {
      color: #333333; }
  /* line 157, ../scss/screen.scss */
  .social a {
    color: #cccccc; }

/* line 164, ../scss/screen.scss */
.social-list li:hover a {
  padding-left: 8px; }

/* line 170, ../scss/screen.scss */
.social-links {
  text-align: center; }

/* line 173, ../scss/screen.scss */
section {
  width: 100%;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#ededed));
  background-image: -webkit-linear-gradient(top, white, #ededed);
  background-image: -moz-linear-gradient(top, white, #ededed);
  background-image: -o-linear-gradient(top, white, #ededed);
  background-image: -ms-linear-gradient(top, white, #ededed);
  background-image: linear-gradient(top, #ffffff, #ededed);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#ededed'); }

/* line 184, ../scss/screen.scss */
article {
  font-size: 16px;
  line-height: 24px; }
  /* line 61, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  article * html {
    font-size: 100%; }
  /* line 64, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  article html {
    font-size: 16px;
    line-height: 3em; }

/* line 189, ../scss/screen.scss */
figure {
  margin-bottom: 24px; }

/* =Specifics
================================================== */
/* line 195, ../scss/screen.scss */
#logo {
  margin: 32px 0px 32px 0px; }

/* line 201, ../scss/screen.scss */
#what ul li::before {
  content: '- '; }

/* =Utility
================================================== */
/* line 209, ../scss/screen.scss */
.remove-top {
  margin-top: 0 !important; }

/* line 212, ../scss/screen.scss */
.remove-bottom {
  margin-bottom: 0 !important; }

/* line 215, ../scss/screen.scss */
.half-bottom {
  margin-bottom: 10px !important; }

/* line 218, ../scss/screen.scss */
.add-bottom {
  margin-bottom: 20px !important; }

/* line 221, ../scss/screen.scss */
.text-left {
  text-align: left; }

/* line 224, ../scss/screen.scss */
.text-right {
  text-align: right; }

/* line 227, ../scss/screen.scss */
.text-center {
  text-align: center; }

/* line 230, ../scss/screen.scss */
.sans {
  font-family: "futura-pt", helvetica, sans-serif; }

/* line 233, ../scss/screen.scss */
.serif {
  font-family: "ff-meta-serif-web-pro", georgia, serif; }

/* =Shynav
================================================== */
/* line 239, ../scss/screen.scss */
header {
  width: 100%;
  height: 100%;
  max-height: 50px;
  position: absolute;
  top: 0;
  overflow: hidden;
  opacity: 0;
  z-index: 100;
  font-family: "futura-pt", helvetica, sans-serif;
  font-weight: 700;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -o-transition-duration: .2s;
  -ms-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: opacity,transform,background;
  -moz-transition-property: opacity,transform,background;
  -o-transition-property: opacity,transform,background;
  -ms-transition-property: opacity,transform,background;
  transition-property: opacity,transform,background;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  backface-visibility: hidden;
  perspective: 1000;
  left: 0px;
  right: 0px;
  line-height: 50px; }
  /* line 277, ../scss/screen.scss */
  header.hidden {
    -webkit-transform: translate3d(0, -50px, 0);
    -moz-transform: translate3d(0, -50px, 0);
    -o-transform: translate3d(0, -50px, 0);
    -ms-transform: translate3d(0, -50px, 0);
    transform: translate3d(0, -50px, 0); }
  /* line 285, ../scss/screen.scss */
  header.fixed {
    background: white;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    opacity: 1; }
    /* line 291, ../scss/screen.scss */
    header.fixed li:hover {
      background: #c0203a; }
      /* line 293, ../scss/screen.scss */
      header.fixed li:hover a {
        color: #fff;
        opacity: 1; }
    /* line 298, ../scss/screen.scss */
    header.fixed li a {
      opacity: 1; }
  /* line 303, ../scss/screen.scss */
  header:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1 !important;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  /* line 315, ../scss/screen.scss */
  header li:hover a {
    opacity: 0; }
  /* line 320, ../scss/screen.scss */
  header a {
    opacity: 0; }

/* =Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* line 337, ../scss/screen.scss */
  .ly-plus {
    font-size: 32px;
    line-height: 48px;
    margin: 0; }

  /* line 342, ../scss/screen.scss */
  .hr-alpha {
    margin: 0 0 .75em 0; }

  /* line 345, ../scss/screen.scss */
  .hr-omega {
    margin: .75em 0 2.4em 0; }

  /* line 348, ../scss/screen.scss */
  header {
    display: none; }

  /* line 351, ../scss/screen.scss */
  section {
    padding: 1.5em 0; }

  /* line 354, ../scss/screen.scss */
  .social-links {
    font-size: 150%; }

  /* line 357, ../scss/screen.scss */
  .social-list {
    font-size: 200%; }
    /* line 359, ../scss/screen.scss */
    .social-list li {
      margin-bottom: 1.5em; }

  /* line 363, ../scss/screen.scss */
  .typer {
    font-size: 100%; } }
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 61, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  * html {
    font-size: 100%; }

  /* line 64, ../../../../../../Applications/CodeKit.app/Contents/Resources/engines/compass/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 16px;
    line-height: 3em; }

  /* line 374, ../scss/screen.scss */
  #logo {
    margin: 16px 0px 0px 0px; }

  /* line 377, ../scss/screen.scss */
  nav {
    font-size: 32px;
    line-height: 48px; }

  /* line 381, ../scss/screen.scss */
  .typer {
    font-size: 140%; }

  /* line 384, ../scss/screen.scss */
  .social-links {
    font-size: 250%; } }
